- Averaging methods
  - simple average
  - moving average
- somthing methods
  - exponential smoothing

In [2]:
import pandas as pd

df = pd.DataFrame (
    {
        "Month":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
        "Yield":[9.29,9.99,10.16,10.25,10.61,11.07,11.52,11.09,10.80,10.50,10.86,9.97]
    }
)

print(df)

   Month  Yield
0    Jan   9.29
1    Feb   9.99
2    Mar  10.16
3    Apr  10.25
4    May  10.61
5    Jun  11.07
6    Jul  11.52
7    Aug  11.09
8    Sep  10.80
9    Oct  10.50
10   Nov  10.86
11   Dec   9.97

In [4]:
df["MA3"] = df["Yield"].rolling(3).mean()
df["MA5"] = df["Yield"].rolling(5).mean()
df

   Month  Yield     MA5
0    Jan   9.29     NaN
1    Feb   9.99     NaN
2    Mar  10.16     NaN
3    Apr  10.25     NaN
4    May  10.61  10.060
5    Jun  11.07  10.416
6    Jul  11.52  10.722
7    Aug  11.09  10.908
8    Sep  10.80  11.018
9    Oct  10.50  10.996
10   Nov  10.86  10.954
11   Dec   9.97  10.644